* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/natural-pattern.png');
  padding: 20px;
  font-family: 'Nunito', sans-serif;
}

#global-cont {
  margin: auto;
  width: 50%;
}

.text-cap-white {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.header-text {
  color: #504741;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
header {
  padding: 30px 0 0 0;
  height: 400px;
  background-image: url('../img/natural-header.jpg');
  background-size: cover;
  text-align: center;
  border: 10px solid #fff;
}

header .header-logo {
  width: 60%;
}

header p.text-cap-white {
  font-size: 2em;
  font-weight: 700;
}



/* SITE NAV BAR */
.site-nav {
  background-color: #666;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
}

.site-nav li {

  padding: 0 20px;
  list-style: none;
  display: inline-block;
}

.site-nav a {
  color: inherit;
  font-size: 0.7em;
  text-transform: inherit;
  text-decoration: none;
  line-height: 50px;
}

.site-nav li:hover {
  background-color: #b3b3b3;
  border-radius: 10px;
}



/* MAIN */
main p {
  font-size: 1em;
  color: #000;
  line-height: 2em;
}

.col {
  float: left;
  border-radius: 5px;
  background-color: #fff;
}

/* LEFT COLUMN */
aside.left-col {
  width: 23%;
  height: auto;
  padding: 10px;
}

main .left-col-title {
  margin-bottom: 10px;
}

.fa-rss-square {
  width: 20%;
  font-size: 2em;
  color: #faa501;
  float: left;
}

main .left-col h2 {
  width: 80%;
  float: left;
  font-size: 1.5em;
}

main .left-col li {
  text-transform: capitalize;
  list-style: none;
  margin-bottom: 10px;
}

main .left-col li a {
  font-weight: 700;
  text-decoration: none;
  color: #9f8f79;
}

main .left-col li a:hover {
  color: #5f7773;
}

/* CENTER COLUMN */
section.center-col {
  height: auto;
  width: 50%;
  margin: 0 2%;
  padding: 20px;
}

main .center-col h1 {
  margin-bottom: 30px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: #504741 2px 2px 0.1em;
}

/* RIGHT COLUMN */
aside.right-col {
  width: 23%;
  background-color: rgba(0,0,0,0);
}

main .widget {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

main .widget h2 {
  margin-bottom: 30px;
  font-size: 1.5em;
}


/* FOOTER */

footer {
  background-color: #fff;
  padding: 5px 1px 0;
  border-radius: 5px;
}

#author {
  border-bottom: 1px solid #9f8f79;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  color: #9f8f79
}

.social-nav {
  text-align: center;
}

.social-nav li {
  width: 33.333%;
  padding: 30px;
  font-size: 2.5em;
  list-style: none;
  float: left;
}

.social-nav a {
  color: #9f8f79;
}

.social-nav a:hover {
  color: #5f7773;
}
